.link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-neutral-900);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-neutral-500);
}

.link:focus-visible {
  outline: 2px dashed var(--color-neutral-500);
  outline-offset: 1px;
}
