.wrap {
  position: relative;
  width: 100%;
}

.select {
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  font: inherit;
  color: var(--color-primary);
  padding: 0 var(--spacing-xs) 0 var(--spacing-s);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-m);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select:focus {
  outline: 1px solid var(--color-primary);
}

.wrap::after {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  border-top-right-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  z-index: -1;
}
