.wrap {
  position: relative;
  width: 100%;
}

.select {
  background-color: transparent;
  width: 100%;
  font: inherit;
  color: var(--color-neutral-900);
  padding: var(--spacing-s);
  border: 2px solid var(--color-neutral-500);
  border-radius: var(--border-radius-m);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select:focus-visible {
  border: 2px solid var(--color-neutral-900);
  outline: 2px dashed var(--color-neutral-500);
  outline-offset: 1px;
}

.wrap::after {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-s);
  transform: rotate(45deg);
  z-index: -1;
}
