.swiperWrap {
  position: relative;
  overflow: hidden;
}

.swiper {
  overflow: auto;
  height: 100%;
}

.swiperPreviousItemsIndicator,
.swiperNextItemsIndicator {
  position: absolute;
}

.verticalSlide .swiperPreviousItemsIndicator,
.verticalSlide .swiperNextItemsIndicator {
  left: 0;
  width: 100%;
  height: 2rem;
}

.verticalSlide .swiperPreviousItemsIndicator {
  top: -2rem;
}

.verticalSlide .swiperNextItemsIndicator {
  bottom: -2rem;
}

.horizontalSlide .swiperPreviousItemsIndicator,
.horizontalSlide .swiperNextItemsIndicator {
  top: 0;
  height: 100%;
  width: 1.5rem;
}

.horizontalSlide .swiperPreviousItemsIndicator {
  left: -1.5rem;
}

.horizontalSlide .swiperNextItemsIndicator {
  right: -1.5rem;
}

.verticalSlide .swiperPreviousItemsIndicator {
  background: linear-gradient(var(--color-background), transparent);
  transition: all 0.4s ease-in-out;
}

.verticalSlide .swiperStartIsVisible {
  transform: translateY(2rem);
}

.verticalSlide .swiperNextItemsIndicator {
  background: linear-gradient(transparent, var(--color-background));
  transition: all 0.4s ease-in-out;
}
.verticalSlide .swiperEndIsVisible {
  transform: translateY(-2rem);
}

.horizontalSlide .swiperPreviousItemsIndicator {
  background: linear-gradient(90deg, var(--color-background), transparent);
  transition: all 0.4s ease-in-out;
}

.horizontalSlide .swiperStartIsVisible {
  transform: translateX(1.5rem);
}

.horizontalSlide .swiperNextItemsIndicator {
  background: linear-gradient(90deg, transparent, var(--color-background));
  transition: all 0.4s ease-in-out;
}

.horizontalSlide .swiperEndIsVisible {
  transform: translateX(-1.5rem);
}
