.textInput {
  padding: var(--spacing-s);
  border-radius: var(--border-radius-m);
  border: 2px solid var(--color-neutral-500);
  font: inherit;
  background: inherit;
  color: var(--color-neutral-900);
}

.textInput:focus-visible {
  border: 2px solid var(--color-neutral-900);
  outline: 2px dashed var(--color-neutral-500);
  outline-offset: 1px;
}
