.size100 {
  font-size: var(--font-size-xs);
  line-height: 1.25;
}

.size200 {
  font-size: var(--font-size-s);
  line-height: 1.35;
}

.size300 {
  font-size: var(--font-size-m);
  line-height: 1.6;
}

.size400 {
  font-size: var(--font-size-l);
  line-height: 1.4;
}

.size500 {
  font-size: var(--font-size-xl);
  line-height: 1.3;
}
