.homePageWrapper {
  max-width: var(--page-max-width-narrow);
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-m);
}

.homePageWrapper h1 {
  margin-bottom: var(--spacing-m);
}

.homePageWrapper p {
  margin-bottom: var(--spacing-m);
}
