.homePageWrapper {
  max-width: var(--page-max-width-wide);
  display: flex;
  flex-direction: column;
  margin: var(--spacing-l) var(--spacing-l) 0 var(--spacing-m);
}

.homePageWrapper h1 {
  margin-bottom: var(--spacing-s);
}

.homePageWrapper p {
  margin-bottom: var(--spacing-s);
}
