.estimationDeck {
  line-height: var(--line-height-heading);
}

.estimationDeck h1 {
  margin-bottom: var(--spacing-m);
}

.largeScreenEstimationOptionsWrap {
  display: block;
}

.smallScreenEstimationOptionsWrap {
  display: none;
}

.estimationOptionsWrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.estimationOptionsButton {
  padding: 0;
  flex: 0 0 3.5rem;
  height: 3.5rem;
}

@media (max-width: 850px) {
  .estimationDeck h1 {
    margin-bottom: var(--spacing-s);
  }

  .estimationOptionsWrap {
    width: 100%;
    flex-wrap: nowrap;
    height: 5rem;
    padding: var(--spacing-xs);
  }

  .largeScreenEstimationOptionsWrap {
    display: none;
  }

  .smallScreenEstimationOptionsWrap {
    display: block;
  }
}
