.estimationDeck {
  line-height: var(--line-height-heading);
}

.estimationDeck h1 {
  margin-bottom: var(--spacing-m);
}

.largeScreenEstimationOptionsWrap {
  display: block;
}

.smallScreenEstimationOptionsWrap {
  display: none;
}

.estimationOptionsWrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.estimationOptionsButton {
  padding: 0;
  flex: 0 0 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.estimationOptionsWrap button:hover {
  transform: scale(1.05, 1.05);
  border: 0.15rem solid var(--color-foreground);
}

.estimationOptionsWrap button:focus {
  outline-color: var(--color-foreground);
  border: 0.17rem solid var(--color-foreground);
}

@media (max-width: 850px) {
  .estimationDeck h1 {
    margin-bottom: var(--spacing-s);
  }

  .estimationOptionsWrap {
    width: 100%;
    flex-wrap: nowrap;
    height: 5rem;
    padding: var(--spacing-xs);
  }

  .largeScreenEstimationOptionsWrap {
    display: none;
  }

  .smallScreenEstimationOptionsWrap {
    display: block;
  }
}
