.roomWrap {
  max-width: var(--max-page-width);
  padding: var(--spacing-m);
  display: flex;
  gap: var(--spacing-s);
  height: 100vh;
}

.playersWrap {
  flex: 1;
  flex-basis: 48%;
  overflow-y: auto;
}

.controllersWrap {
  flex: 1;
  flex-basis: 48%;
}

@media (max-width: 850px) {
  .roomWrap {
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .playersWrap {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .controllersWrap {
    flex: 0;
  }
}
