.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--page-max-width-narrow);
  align-self: center;
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.wrap > h1 {
  margin-bottom: var(--spacing-s);
}

.wrap > p {
  margin-bottom: var(--spacing-m);
}
