.playersList {
  flex: 1;
  min-width: var(--min-page-width);
  line-height: var(--line-height-heading);
  display: flex;
  flex-direction: column;
}

.playersList li {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-s);
}

.playersList li img {
  width: 3rem;
  height: 3rem;
  border-radius: var(--border-radius-xl);
  margin-right: var(--spacing-m);
  flex-grow: 0;
}

.playersList span {
  display: inline-block;
  min-width: fit-content;
  margin-right: var(--spacing-xs);
  flex-grow: 0;
  line-height: var(--line-height-heading);
  align-self: center;
}

.isEstimating::before {
  content: '...';
  color: var(--color-primary);
}

.estimated::before,
.revealedEstimation {
  content: '✓';
  background-color: var(--color-primary);
  color: var(--color-neutral);
}

.isEstimating::before,
.estimated::before,
.revealedEstimation {
  margin: auto var(--spacing-xs) auto var(--spacing-m);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-neutral);
  border-radius: 50%;
  text-align: center;
  font-weight: var(--font-weight-bold);
}
