.estimaceForm {
  max-width: var(--paragraph-max-width);
  line-height: var(--line-height-heading);
  margin: var(--spacing-l) var(--spacing-s);
  display: flex;
  flex-direction: column;
}

.estimaceForm label {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-s);
}

.estimaceForm label > span {
  display: inline-block;
  min-width: fit-content;
  margin-right: var(--spacing-xs);
  flex-grow: 0;
}

.estimaceForm input[type='text'],
.estimaceForm input[type='email'] {
  flex-grow: 0.75;
}

.estimaceForm input[type='text']:focus,
.estimaceForm input[type='email']:focus {
  outline-color: var(--color-primary);
}

.estimaceForm button {
  align-self: flex-start;
  width: 82%;
  margin-left: var(--spacing-xs);
}

.estimaceFormSelect {
  margin-left: var(--spacing-xs);
  width: 71.4%;
}

.errorMessageWrapper {
  margin: var(--spacing-m);
  margin-left: 0;
  color: var(--color-error);
}
