.wrap {
  position: relative;
  width: 10em;
}

.select {
  background-color: transparent;
  padding: 0 var(--spacing-xs) 0 0;
  width: 100%;
  cursor: pointer;
  font: inherit;
  color: var(--color-primary);
  outline: 100% var(--color-neutral);
  padding-left: var(--spacing-s);
  border: 2px solid var(--color-neutral);
  border-radius: var(--border-radius-m);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.wrap::after {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-neutral);
  border-bottom: 2px solid var(--color-neutral);
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
}
